html {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

.navbar-default {
    border-radius: 0px;
}

.card {
    position: absolute;
    width: inherit;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #ccc;
    padding: 0px 15px 15px;
    margin-left: -15px;
}

@media (max-width: 768px) {
    .card-container {
        width: 100%;
        padding: 0px 15px;
    }
}

ol.steps {
    list-style-type: none;
    padding: 0;
}

ol.steps li,
.round-icon {
    display: inline-block;
    position: relative;
    height: 48px;
    width: 48px;
    margin: 10px 10px;
    background-color: inherit;
    color: #aaa;
    text-align: center;
    font-size: 20px;
    line-height: 42px;
    border-radius: 24px;
    border: 4px solid #aaa;
    webkit-transition: background-color 0.1s, color 0.1s, border-color 0.1s;
    transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

ol.steps li:not(:first-child)::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #aaa;
    margin-top: 16px;
    margin-left: -40px;
    height: 8px;
    width: 28px;
    webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

ol.steps li.btn-enabled:hover,
.round-icon.btn-enabled:hover {
    background-color: #428bca;
    color: #fff;
    webkit-transition: background-color 0.1s, color 0.1s;
    transition: background-color 0.1s, color 0.1s;
}

ol.steps li.btn-enabled:not(:first-child)::before {
    background-color: #428bca;
    webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

ol.steps li.btn-enabled,
.round-icon.btn-enabled {
    color: #428bca;
    border-color: #428bca;
    cursor: pointer;
    webkit-transition: color 0.1s, border-color 0.1s;
    transition: color 0.1s, border-color 0.1s;
}

ol.steps li.btn-enabled.fast-track,
.round-icon.btn-enabled.fast-track {
    color: #3C763D;
    border-color: #3C763D;
    webkit-transition: color 0.1s, border-color 0.1s;
    transition: color 0.1s, border-color 0.1s;
}

ol.steps li.btn-enabled.fast-track:hover,
.round-icon.btn-enabled.fast-track:hover {
    background-color: #3C763D;
    color: #fff;
    webkit-transition: background-color 0.1s, color 0.1s;
    transition: background-color 0.1s, color 0.1s;
}


ol.steps li.steps-active {
    background-color: #428bca;
    color: #fff;
    webkit-transition: background-color 0.1s, color 0.1s;
    transition: background-color 0.1s, color 0.1s;
}

ol.steps li.steps-active.fast-track {
    background-color: #3C763D;
    color: #fff;
    webkit-transition: background-color 0.1s, color 0.1s;
    transition: background-color 0.1s, color 0.1s;
}

ol.steps li.error,
.round-icon.error {
    color: #A94442;
    border-color: #A94442;
    webkit-transition: background-color 0.1s, color 0.1s;
    transition: background-color 0.1s, color 0.1s;
}

ol.steps li.error:hover,
.round-icon.error:hover {
    background-color: #A94442;
    color: #fff;
    webkit-transition: background-color 0.1s, color 0.1s;
    transition: background-color 0.1s, color 0.1s;
}

.off-right {
    margin-left: 120%;
}

.off-left {
    margin-left: -120%;
}

tr:last-child input[type="text"] {
    background-color: #eee;
}

.form-control[readonly] {
    background-color: #eee;
    cursor: default;
}

td span.glyphicon {
    color: #aaa;
    font-size: 1.2em;
    line-height: 1.8;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    cursor: pointer;
}

td span.glyphicon:hover {
    color: #428bca;
    font-size: 1.2em;
    line-height: 1.8;
}

.uppercase {
    text-transform: uppercase;
}

.uppercase::-webkit-input-placeholder {text-transform: none !important;}
.uppercase::-moz-placeholder {text-transform: none !important;}
.uppercase:-ms-input-placeholder {text-transform: none !important;}

