html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#results-pane{
    display: visible;
}

.nav-mode {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    padding: 1.75rem;
    margin: 2rem 7px;
    vertical-align: top;
    background-color: transparent;
    border-radius: 6px;
    font-size: 5rem;
    text-align: center;
    border: 2px solid #fff;
    /*border: 2px solid #ccc;*/
}

.nav-mode:hover {
    /*background-color: #ccc;*/
     border: 2px solid #ccc;
}

.mode-selected {
    background-color: #428bca;
    border: 2px solid #428bca !important;
}

.mode-selected:hover {
    background-color: #428bca;
}

.part {
    display: inline-block;
    vertical-align: top;
    padding: 0px 15px;
}

.part-location {
    display: inline-block;
    padding-right: 0px;
    width: 140px;
    border-right: 2px solid white;
    font-size: 4em;
    text-align: center;
    /* animation-direction: ; */
}

.part-name {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.2em;
}

.part-num {
    font-size: 1.5em;
    line-height: 1.2em;
}

.left-border {
    border-left: 2px solid black;
}

.space {
    margin: 1em 0;
}

.footer-padding {
    padding: 38px 0px;
}

.txt-lg {
    font-size: 28px;
    padding-top: 4px;
    height: 45px;
}

.margin-fix {
    margin: -0px -5px;
}

.footer {
    position: absolute;
    height: 70px;   /* minimum size for proper display on smaller screens */
    width: 100%;
    /*margin-bottom: -70px; /* negative value of footer height */
    bottom: 0;
    left: 0;
    color:#ffffff;
    background-color: #3c3c3c;
}

a.footer.link {
    color: #2aabd2;
}

a.footer.hover {
    color: #269abc;
}

a.footer.active {
    color: #843534;
}

a.footer.visited {
    color: #245269;
}