html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#results-pane{
    display: visible;

}

#txtSubmitQuery {
    float: none;
}

.nav-mode {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    padding: 1.75rem;
    margin: 2rem 7px;
    vertical-align: top;
    background-color: transparent;
    border-radius: 6px;
    font-size: 5rem;
    text-align: center;
    border: 2px solid #fff;
    /*border: 2px solid #ccc;*/
}

.nav-mode:hover {
    /*background-color: #ccc;*/
     border: 2px solid #ccc;
}

.mode-selected {
    background-color: #428bca;
    border: 2px solid #428bca !important;
}

.mode-selected:hover {
    background-color: #428bca;
}

.part {
    display: inline-block;
    vertical-align: top;
    padding: 0px 15px;
}

.part-location {
    display: inline-block;
    padding-right: 0px;
    width: 140px;
    border-right: 2px solid white;
    font-size: 4em;
    text-align: center;
    /* animation-direction: ; */
}

.part-name {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.2em;
}

.part-num {
    font-size: 1.5em;
    line-height: 1.2em;
}

.left-border {
    border-left: 2px solid black;
}

.space {
    margin: 1em 0;
}

.footer-padding {
    padding: 38px 0px;
}

.txt-lg {
    font-size: 28px;
    padding-top: 4px;
    height: 45px;
}

.margin-fix {
    margin: -0px -5px;
}

.footer {
    position: absolute;
    height: 70px;   /* minimum size for proper display on smaller screens */
    width: 100%;
    /*margin-bottom: -70px; /* negative value of footer height */
    bottom: 0;
    left: 0;
    color:#ffffff;
    background-color: #3c3c3c;
}

.footer a:link, #results-pane a:link {
    color: #afd9ee; /* light blue */
}

.footer a:hover, #results-pane a:hover {
    color: #faebcc; /* light yellow */
}

.footer a:active, #results-pane a:active {
    color: #ffffff; /* white */
}

.footer a:visited, #results-pane a:visited {
    color: #8CAEBE;
}


.tt-query, .tt-hint {
    width: 396px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); */
}

.tt-hint {
    color: #999
}

.tt-input {
    float: none;
}

.tt-dropdown-menu {
    width: 400px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead {
    width: 100%;
}