<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Add Component</title>
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<header>
    <!-- Scripts are place here to improve page loading time -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</header>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="col-sm-1 hidden-xs">
                <img src="img/robobuzz-header.gif" height="65px" width="65px">
            </div>
            <div class="col-xs-12 col-sm-11">
                <h2>Robojackets Inventory</h2>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <h1 class="page-header">Add New Component</h1>
        </div>
        <form class="form-horizontal" role="form" method="post" action="">
            <div class="form-group">
                <label for="partNumberInput" class="col-sm-2 control-label">Part Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="partNumberInput" placeholder="Part Number">
                </div>
            </div>
            <div class="form-group">
                <label for="partNameInput" class="col-sm-2 control-label">Part Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="partNameInput" placeholder="Part Name">
                </div>
            </div>
            <div class="form-group">
                <label for="datasheetInput" class="col-sm-2 control-label">Datasheet URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="datasheetInput" placeholder="Datasheet URL">
                </div>
            </div>
            <div class="form-group">
                <label for="datasheetInput" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="descriptionInput" rows="3" maxlength="65535" placeholder="Part Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="locationInput" class="col-sm-2 control-label">Location</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="locationInput" placeholder="Location">
                </div>
            </div>
            <div class="form-group">
                <label for="datasheetInput" class="col-sm-2 control-label">Barcode</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="datasheetInput" placeholder="Scan Barcode">
                </div>
            </div>
            
        </form>
    </div>
</body>
</html>